body {
  color: black;
  min-height: 100%;
  padding-bottom: 200px;
  z-index: 2;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* sidenav style */
.sidenav {
  height: 100%;
  width: 30%;
  background-color: LightGrey;
  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  color: SteelBlue;
}

.links-container {
  position: relative;
  color: SteelBlue;
  width: 100px;
}

.sidenav a:hover {
  color: white;
}

button {
  background-color: white;
  color: black;
}

/* list of messages style */

.room-title {
  font-size: 50px;
}

.userName {
  font-size: 16px;
  font-weight: bold;
}

.createdAt {
  float: right;
  margin-right: 25px;
}

.container-fluid {
  float: right;
  margin-left: 100px;
  width: 70%;
  background-color: white;
}

.chat-container {
  position: relative;
  margin-top: 20px;
}

.chat-container li:nth-child(odd){
  background-color: LightGrey;
  color: black;
}

/* New messages */
.newMessage {
  position: fixed;
  bottom: 0;
  float: right;
  margin-left: 35%;
  width: 70%;
  background-color: white;
}

.send-message {
  width: 70%;
}
