
/*
body {
  background-color: white;
  font-family: 'Open Sans';
  color: black;
  min-height: 100%;
  padding-bottom: 200px;
  z-index: 2;
}

.sidenav {
  height: 100%;
  width: 30%;
  background-color: grey;
  position: fixed;
  z-index: 1;
  top: 0;
  left:0;
  color: black;
}

.links-container {
  position: relative;
  color: black;
}

.sidenav a:hover {
  color: grey;
}

button {
  background-color: white;
  color: black;
}
*/
