<button type="button" class="btn btn-default" ng-click="open()">Create New Room</button>
<script type="text/ng-template" id="rooms.html">
  <div class="modal-header">
    <h2 class="modal-title">Create a new room</h2>
  </div>
  <div class="modal-body">
      Name: <input ng-model="nameNewRoom" />
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="create()">Create</button>
  </div>
</script>

<ul>
  <li ng-repeat="room in rooms.rooms"> {{ room.name }} </li>
</ul>
